body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  color: #dce1e3;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.wrapper {
  max-width: 1200px;
  background-color: rgb(89, 92, 85, 0.8);
  padding: 10px;
  margin: 0 auto;
  min-width: 520px;
  border: 30px none #3b30a4;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 3px 6px 50px 14px rgba(0, 0, 0, 0.67);
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: #dce1e3;
}
hr {
  margin: 50px 0 10px 0;
}
